{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            {{title}} - EPU
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "epu/common.css" %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="box">
        <nav>
            <ul>
                <li><a href="{% url 'epu:index' %}">index</a></li>
                <li><a href="{% url 'epu:login' %}">login</a></li>
                <li><a href="{% url 'epu:logout' %}">logout</a></li>
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
