{% load static %}
{% load epu %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        {% set title "Untitled" default=true %}
    {% endblock %}
    <title>{{title|default:"Untitled"}} - EPU</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "epu/common.css" %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'epu:index' %}">index</a></li>
            <li><a href="{% url 'epu:howto' %}">howto</a></li>
            
            {% if user.is_authenticated %}
                <li><a href="{% url 'epu:logout' %}">logout</a></li>
            {% else %}
                <li><a href="{% url 'epu:login' %}">login</a></li>
            {% endif %}
            
            {% if user.is_staff %}
                <li><a href="{% url 'epu:repo_status' %}">repo status</a></li>
                <li><a href="{% url 'admin:index' %}" target="_blank">admin</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if error %}
        <div class="box error">
            {{error}}
        </div>
    {% endif %}
    {% if info %}
        <div class="box info">
            {{info}}
        </div>
    {% endif %}
    <main>
        <h1>{{title|default:"Untitled"}}</h1>
        {% block body %}
            {{body|safe|default:"No body!"}}
        {% endblock %}
    </main>
</body>
</html>
