{% extends "epu/base.html" %}
{% load epu %}
{% block title %}
    {% set title "Packs" %}
{% endblock %}
{% block body %}
    {% if user.is_authenticated %}
        Hello {{user.first_name | default:user.username}}! You have access to the following packs:
    {% else %}
        The following public packs are available:
    {% endif %}
    <ul>
        {% for pack in packs %}
            <li><a href="{% url 'epu:pack_detail' pack.id %}">{{pack.name}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
