{% extends "epu/base.html" %}
{% load static %}
{% load epu %}
{% block title %}
    {% set title "Packs" default=True %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "epu/index.css" %}">
{% endblock %}
{% block body %}
    {% if user.is_authenticated %}
        Hello {{user.first_name | default:user.username}}! The following packs are available:
        <ul>
            {% for pack in packs %}
                <li>
                    <img class="pack-icon" src="{% static pack.icon_filename %}">
                    <strong>{{pack.name}}</strong>
                    &nbsp;&mdash;&nbsp;
                    <a href="{% url 'epu:pack_instance' pack.id 'win' %}">Windows x64</a>
                    &nbsp;&nbsp;
                    <a href="{% url 'epu:pack_instance' pack.id 'linux' %}">Linux</a>
                    &nbsp;&nbsp;
                    <a href="{% url 'epu:pack_instance' pack.id 'mac' %}">MacOS Intel x64</a>
                    {% if user.is_staff %}
                        <a class="special" href="{% url 'epu:pack_detail' pack.id %}">edit</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% if error %}
            {{error}}
        {% else %}
            Nobody here but us chickens!
        {% endif %}
    {% endif %}
{% endblock %}
