{% extends "epu/base.html" %}
{% block title %}
    Log in
{% endblock %}
{% block body %}
    <h1>Login</h1>
    <br>
    {% if error %}
        <div class="box error">
            {{error}}
        </div>
    {% endif %}
    
    {% if info %}
        <div class="box info">
            {{info}}
        </div>
    {% endif %}
    
    {% if user %}
        You are already logged in as {{user.first_name}} {{user.last_name}} ({{user.username}}).
    {% else %}
        To log in, fill in your email address and click the button below, you will receive an email with a link that will log you in automatically.
        <br><br>
        <form action="{% url 'epu:login' "" %}">
            {% csrf_token %}
            
            <label>Email</label>
            <input type="text" name="email">
            
            <button type="submit" formmethod="post">
                Send me a login link
            </button>
        </form>
    {% endif %}
{% endblock %}
